<p>
Bonjour,<br/><br/><br/>

Un lycéen vient de se désinscrire de la sortie <strong>{{sortie.nom}}</strong>.<br/><br/>

J'espère que ça ne sera pas trop grave pour l'organisation ! :)<br/><br/>

Cordialement,<br/><br/>

L'équipe CEC
</p>
