<p>
Bonjour,<br/><br/><br/>

Tu viens de te désinscrire de la sortie : <strong>{{sortie.nom}}</strong>.

Nous espérons te revoir bientôt pour une autre sortie !<br/><br/>

A très bientôt en séance,<br/><br/>

L'équipe CEC
</p>