<p>
	Bonjour,<br/><br/><br/>

	Tu viens d'être désinscrit de la sortie : <strong>{{sortie.nom}}</strong>.

	Si cela est une erreur, envoie un message au <a href="mailto:cec.sortie@gmail.com">Secteur Sorties de CEC</a> pour éclaircir la situation.

	Nous espérons te revoir bientôt pour une autre sortie !<br/><br/>

	A très bientôt en séance,<br/><br/>

	<span class="pull-right">L'équipe CEC</span>
</p>
