<p>
	Bonjour, <br/><br/>

	Les inscriptions pour le projet {{projet.nom}} viennent de s'ouvrir. <br/><br/>

	Pour consulter la page du projet et récupérer le dossier d'inscription associé, <a href="http://{{base_url}}/projets/{{projet.slug}}">cliquez ici</a> ! <br/><br/>

	Toutes les consignes concernant la constitution du dossier ainsi que l'adresse à laquelle nous l'expédier sont dans le dossier lui-même.<br/><br/>

	Bonne journée, <br/>
	L'équipe CEC
</p>
