<p> Bonjour, <br/><br/>

	Un nouvel album photo a été créé sur le site de CEC pour l'édition {{album.annee}} du projet {{album.projet}}. <br/><br/>

	Pour le consulter, ainsi que les autres albums de nos projets, <a href="http://{{base_url}}/projets/albums"> cliquez ici</a>.<br/><br/>

	En espérant que les photos vous plairont, et vous rappelleront de bons souvenirs si vous avez pu partir avec nous ! 

	<br/><br/>

	Bonne journée, <br/>
	<span class="pull-right">L'équipe CEC</span>
</p>

<p class="muted small"> Pour ne plus recevoir ces mails automatiques de CEC, connectez-vous sur <a href="http://{{base_url}}/connexion"> le site interne et décochez la case "Recevoir les mails automatiques" dans vos réglages. </p>
