<html>
	<body>
		<p><strong> Un administrateur du site de CEC vient de te donner les droits d'administration !</strong> </p>

		<p> Tu as maintenant accès aux pages et aux actions de tous les secteurs. Tu as aussi accès à l'onglet Administration qui te permettra de gérer d'autres aspects de l'association (création de nouveaux projets, secteurs, inscription de tes futurs GPAS...) </p>

		<p class="pull-right"> L'équipe de CEC </p>
	</body>
</html>
