<p>
	Bonjour,<br/><br/><br/>

	Une sortie CEC vient d'être modifiée : <strong>{{sortie.nom}}</strong> !<br/><br/>

	Pour avoir plus d'informations sur cette modification, rends-toi sur le site  : {{path('sorties_eleve')}}.<br/><br/>

	A très bientôt en séance,<br/><br/>

	<span class="pull-right">L'équipe CEC</span>
</p>

<p class="muted small"> Pour ne plus recevoir ces mails automatiques de CEC, connectez-vous sur <a href="http://{{base_url}}/connexion"> le site interne et décochez la case "Recevoir les mails automatiques" dans vos réglages. </p>
