<p>Bonjour,<br/><br/><br/>

Une sortie CEC vient d'être modifiée : <strong>{{sortie.nom}}</strong> !<br/><br/>

Pour avoir plus d'informations sur cette modification, rends-toi sur le site  : {{path('sorties_eleve')}}.<br/><br/>

A très bientôt en séance,<br/><br/>

L'équipe CEC
</p>