{% extends 'CECMembreBundle:Reglages:base.html.twig' %}

{% block right %}
{{ parent() }}

    <div class="section">
        <div class="section-title">Mes groupes de tutorat</div>
        <form method="post" action="{{ path(app.request.attributes.get('_route')) }}">
            <p>Sélectionnez le groupe de tutorat que vous fréquentez régulièrement :</p>
            {{ form_widget(form) }}
            <div class="form-actions">
                <input type="submit" value="Enregistrer les modifications" class="btn btn-primary" />
            </div>
        </form>
    </div>

{% endblock %}
