<div class="well">
    <ul class="nav nav-pills nav-stacked" style="padding: 10px;">
        <li class="secteur">Mes informations</li>
        <li 
            {% if app.request.attributes.get('_route') == 'reglages_infos' %}class="active"{% endif %}
            >
                <a href="{{ path('reglages_infos') }}">Profil</a>
        </li>
        <li class="secteur">Mon activité</li>
        <li 
            {% if app.request.attributes.get('_route') == 'reglages_groupe' %}class="active"{% endif %}
            >
                <a href="{{ path('reglages_groupe') }}">Groupes de tutorat</a>
        </li>
        <li 
            {% if app.request.attributes.get('_route') == 'reglages_secteurs' %}class="active"{% endif %}
            >
                <a href="{{ path('reglages_secteurs') }}">Mes secteurs</a>
        </li>
    </ul>

    <br/>

    <a href="{{ path('voir_membre', { 'membre' : app.user.id }) }}" class="btn btn-primary" style="margin-left:15px;">Retour au profil public</a>
</div>

