{% extends 'CECMembreBundle:Reglages:base.html.twig' %}

{% block right %}
{{ parent() }}

<div class="section">
    <div class="section-title">Statut du membre</div>
    <form method="post" action="{{ path('reglages_notifications') }}">
        <span class="help-block">Les membres arrêtent d'être actif lorsqu'ils partent en S8, en césure ou en double-diplôme. Ils cessent d'être répertoriés comme tuteurs, ne font plus partie des secteurs et ne reçoivent plus aucune notification.</span>
        {{ form_widget(form) }}
        <div class="form-actions">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
    </form>
</div>

{% endblock %}
