{% extends 'CECMembreBundle:Reglages:base.html.twig' %}

{% block right %}
<form method="post" action="{{ path('reglages_profil') }}">
    {{ form_widget(informations_generales) }}
    
    <input type="submit" value="Enregistrer" class="btn btn-primary" />
</form>

<form method="post" action="{{ path('reglages_profil') }}">
    {{ form_widget(mot_de_passe) }}
    
    <input type="submit" value="Modifier le mot de passe" class="btn btn-primary" />
</form>
{% endblock %}
