{% extends 'CECMembreBundle:Reglages:base.html.twig' %}

{% block right %}
<form method="post" action="{{ path('reglages_profil') }}">
    {{ form_widget(informations_generales) }}
    
    <input type="submit" value="Enregistrer" class="btn btn-primary" />
</form>
{% endblock %}
