<thead>
    <tr>
        <th>
            {{ compte_rendu }}
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            Détails et lien vers l'activité.
        </td>
    </tr>
    <tr>
        <td>
            Notes et détails du compte-rendu
        </td>
    </tr>
    <tr>
        <td>
            Lien vers l'auteur du compte-rendu.
        </td>
    </tr>
</tbody>
