{% extends 'CECSecteurSortiesBundle:Sorties:base.html.twig' %}


{% block right %}

{{ parent() }}

<h2> Créer une sortie </h2>

<form class="form" method="post" action="{{ path('creer_sortie') }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Créer la sortie" class="btn btn-primary pull-right" />
        <a href="{{ path('sorties') }}" class="btn btn-default pull-right">Annuler</a>
    </div>
</form>
<br/>


{% endblock %}
