parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     cec
    database_user:     root
    database_password: reussitecec

    mailer_transport:  smtp
    mailer_encryption: ssl
    mailer_port:       465
    mailer_host:       ssl0.ovh.net
    mailer_user:       notifications@cec-ecp.com
    mailer_password:   reussitecec

    locale:            fr
    secret:            ViveLaP2014EtLeCreateurDeCeSite!
