<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}OSER – Ouverture Sociale pour l'Égalité et la Réussite{% endblock %}</title>

    {% block stylesheets %}

    {% endblock %}
    {% image '@CECSiteVitrineBundle/Resources/public/images/oser-favicon.png' %}
    <link rel="shortcut icon" href="{{ asset_url }}" />
    {% endimage %}


</head>

<body data-spy="scroll">
{% block body %}{% endblock %}
{% block javascripts %}

{% endblock %}
</body>
</html>
