<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titre %}Centrale Egalité des Chances{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body data-spy="scroll">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-transition.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-modal.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-dropdown.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-scrollspy.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tab.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-tooltip.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-popover.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-alert.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-button.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-collapse.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-carousel.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/bootstrap-typeahead.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
