<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titre %}Centrale Egalité des Chances{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    
    <body data-spy="scroll">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/transition.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/modal.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/dropdown.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/scrollspy.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/tab.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/tooltip.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/popover.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/alert.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/button.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/collapse.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/carousel.js'
                '@MopaBootstrapBundle/Resources/bootstrap/js/affix.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
                '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
