<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %}Centrale Egalité des Chances{% endblock %}</title>

    {% block stylesheets %}
        {# {% stylesheets
'@MopaBootstrapBundle/Resources/bootstrap/less/bootstrap.less'%}
<link rel="stylesheet" href="{{asset_url}}" />
{% endstylesheets %} #}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />


</head>

<body data-spy="scroll">
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/transition.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/modal.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/dropdown.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/scrollspy.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tab.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/tooltip.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/popover.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/alert.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/button.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/collapse.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/carousel.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/js/affix.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
