
<div class="well center-block" style = "padding-left:20px;padding-right:15px;">
<form class="form form-horizontal" method="post" action="{{ path('creer_reunion') }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Créer la réunion" class="btn btn-primary" />
    </div>
</form>
</div>

