
{% extends 'CECSecteurProjetsBundle::base.html.twig' %}

{% block right %}
{{parent()}}

<h2>Modifier une réunion d'informations</h2>

<form class="form form-horizontal" method="post" action="{{ path('modifier_reunion', {'id': id}) }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Créer la réunion" class="btn btn-primary" />
        <a href="{{ path('liste_reunions') }}" class="btn pull-right">Annuler</a>
    </div>
</form>


{% endblock %}

