{%extends "CECExternSiteBundle::base.html.twig" %}

{% block title %} {{parent()}} - Activités {%endblock %}

{% block page %}
 <section id="imageactivites" ></section>
 

 <section class="titrepage" id="titreactivites" >
 </section>
 
 <section class="contenupage">
<h2>Le tutorat</h2>
<p>
Centrale Égalité des Chances organise, toutes les deux semaines environ, des séances de tutorat pour des élèves de 10 lycées de la région parisienne. 
Ces séances sont l’occasion d’un échange entre les lycéens et les élèves ingénieurs à travers des activités culturelles ou scientifiques.
</p>
<p>Lors d'une séance de tutorat, plusieurs tuteurs encadrent un groupe constitué de moins d'une vingtaine de lycéens. </p>
<h3 style="color:#3399cc;">Les activités culturelles</h3>

<p>Débats, improvisations théâtrales, exercices d’écriture, analyse d’articles de presse, simulation d’émissions télévisées, expériences scientifiques 
originales, quizz sur l’actualité, description d’une situation en anglais …</p>
<p>L’objectif des activités culturelles n’est pas de se substituer à l’enseignement scolaire mais de proposer aux lycéens de développer des compétences
 supplémentaires indispensables à leur vie future. Ainsi, notre ambition est de les aider à se sentir confiant à l’oral et à savoir convaincre, de leur
 donner le goût de la culture, l’envie de la découvrir par eux-mêmes et de les encourager à approfondir les matières qu’ils apprécient dans des études 
 supérieures.</p>

<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Les activités scientifiques</h3>

<p>Comment la science peut-elle expliquer des phénomènes de la vie courante ? Les tuteurs répondent à cette question lors d’activités qui permettent
 aux lycéens d’appréhender, avec leurs outils, des sujets aussi variés que le vol d’une montgolfière ou qu’un mirage optique. En se détachant encore
 une fois des activités « scolaires », le tutorat montre aux lycéens que les mathématiques et la physique peuvent modéliser des phénomènes passionnants
 et que des études supérieures leur permettraient d’aller encore plus loin.</p>

<p>Au cours de l’année, au moins une séance est consacrée à l’information sur les différentes orientations possibles après le bac et à la présentation
 des métiers de l’ingénieur.</p>

<h2 style="margin-top:14px;">Les sorties</h3>


<p>Chaque lycéen participe à au moins deux sorties par année de tutorat.</p>

<h3 style="color:#3399cc;">Culture</h3>

<p>Afin de parfaire l’échange entamé lors des séances, des sorties au théâtre, à l’opéra, à l’Assemblée Nationale, au Sénat et dans d’autres 
lieux de culture sont organisées régulièrement par les tuteurs.
</p>
<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Science</h3>

<p>Si la théorie est souvent très belle, la mise en pratique donne parfois un meilleur aperçu de ce que la science peut nous aider à réaliser. Ainsi, 
les tuteurs concrétisent leur apport théorique au Palais de la Découverte, à la Cité de l’Architecture, au CEA, etc.
</p>

<h2 style="margin-top:14px;">Les projets</h3>

<p>En plus des séances de tutorat et les sorties qui sont organisées, nous proposons chaque années des voyages-stages sous forme de grands projets, menés 
par les élèves centraliens de l'association. L'année dernière par exemple, une centaine de lycéens ont eu la chance de partir pendant 3 jours à Berlin. 
Et l'année précédente, c'était à Prague que ça avait lieu. Ce fut l'occasion pour les jeunes de découvrir une capitale culturelle et européenne,
 d'échanger en langue étrangère avec les habitants et de découvrir une culture différente. Ce fut aussi une merveilleuse aventure humaine où 
 la vie ensemble prend une signification particulière.
</p>
<h3 style="color:#3399cc;">Good Morning London</h3>

<p>Un autre projet, mené avec succès pour la deuxième année consécutive, consiste en un stage de deux semaines à Londres. Le thème retenu cette année :
 l'improvisation théâtrale, avec des séances données dans la prestigieuse Royal Academy of Dramatic Art.
</p>
<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Centrale Prépa</h3>

<p>Un stage de préparation aux classes préparatoires est proposé à une vingtaine d'élèves pendant le mois de Juillet, pour la deuxième édition. 
C'est l'occasion pour eux d'avoir un aperçu de la prépa, et d'aborder la rentrée serein.
</p>

<h3 style="color:#f5850c;">Stage théâtre</h3>

<p>La première édition a eue lieu cette année, et face au succès de ce stage, il va être reconduit. C'est l'occasion pour les lycéens d'apprendre
 des techniques théâtrales, de faire de l'impro, d'écrire un sketch, de le préparer et de le jouer devant un public.
Tout ça encadré par des professionnels.</p>

<h2 style="margin-top:14px;">Une fin en beauté</h2>

<p>Chaque fin d’année scolaire, une journée est consacrée à la « clôture » du tutorat. L’ensemble des lycéens du programme sont invités sur 
le campus de l’École et participent à des activités, des visites, des spectacles et des conférences. </p>
<p>C’est ainsi que l’année se termine … avant la suivante.</p>

</section>
{%endblock%}