{%extends "CECExternSiteBundle::base.html.twig" %}

{% block title %} {{parent()}} - Actualités {%endblock %}

{% block page %}
 <section id="imageactualites" ></section>
 

 <section class="titrepage" id="titreactualites" >
 </section>
 
 <section class="contenupage">
 
 <h3 style="color:#3399cc; margin:5px;">Retour de Good morning London</h3>
 <div class="date">Le 02/08/2013</div>
 
 <p>Pendant dix jours, vingt lycéens ayant suivi le tutorat de manière régulière cette année ont eu la chance de partir pour Londres ! Au programme : 
 séances de travail sur le thème du journalisme, exercices d'improvisation, réalisation de reportage vidéo et d'interview dans le centre-ville, visite
 des monuments et des lieux incontournable de la capitale britannique ! Mais c'est aussi des blind-tests et des challenges musicaux endiablés, des longues
 marches dans les parcs anglais, des trajets dans les profondeurs des tunnels du London Tube et des sandwichs plus mauvais les uns que les autres !</p>
 <p>Bref, autant d'expériences que les vingt lycéens emporterons avec eux — et, soyez sûrs que les accompagnateurs et les organisateurs garderont eux-aussi
 d'excellents souvenirs. Avec, on en est convaincus, une aisance plus grande pour parler spontanément la langue de Shakespeare.</p>
 <p>En attendant le début de l'année de tutorat en octobre, portez-vous bien</p>
 
<h3 style="color:#3399cc; margin:5px;">Journée de clôture</h3>
<div class="date">Le 06/06/2013</div>

<p>
Aujourd'hui a eu lieu la Journée de Clôture CeC, journée qui marque la fin de la saison de tutorat. <br />
C'est ainsi que près de 150 lycéens se sont retrouvés sur le campus de l'Ecole Centrale, en compagnie de leurs tuteurs.
Au programme de cette journée : <br /> <br />
- Le matin a eu lieu une conférence, avec les intervenant suivants : <br />
Raphaël Haumont, chercheur et chimiste à Orsay, qui nous a fait une démonstration de cuisine moléculaire. <br />
Rachid Santaki, auteur de romans policiers. <br />
Ahmed Bouzouaïd, fondateur d'une sociéte de conseil en aménagement du territoire, Muse D Territoires. <br /> <br/>
- L'après-midi, les lycéens, par groupe de 6, ont fait plusieurs activités proposées par plusieurs associations de Centrale, comme par exemple 
du développement photo avec Centrale Num, une course d'orientation avec le Raid, essai d'instruments de musique avec la Band'à Joe etc.
<br /> Ils ont aussi pu visiter certains laboratoires de l'école.
<br /> <br />
La journée - et l'année de tutorat - s'est achevée par un goûter (et une photo de groupe).
<br /> <br />
A L'ANNEE PROCHAINE !
</p>


<h3 style="color:#3399cc; margin:5px;">Voyage à Berlin</h3>
<div class="date">Le 29/04/2013</div>

<p>
Retour des lycéens du voyage à Berlin ! <br />
CeC avait emmené 60 lycéens en voyage de 3 jours. Les tutorés ont ainsi pu découvrir cette capitale européène, et avec elle l'histoire de l'Allemagne, 
avec des balades dans la ville, des visites de musées, la visite du Reichstag et des autres différents monuments de la ville. <br />
Ce voyage a été intense, mais très enrichissant, et tous les lycéens en sont ressortis ravis (et fatigués, mais pas autant que les tuteurs).
</p>





</section>
{%endblock%}