{%extends "CECExternSiteBundle::base.html.twig" %}

{% block title %} {{parent()}} - L'histoire de CEC{%endblock %}

{% block page %}
 <section id="imagehistoire" ></section>
 

 <section class="titrepage" id="titrehistoire" >
 </section>
 
 <section class="contenupage">
<h3 style="color:#3399cc;">Pourquoi pas moi ?</h3>

<p>C’est en 2006 que des étudiants de l’École Centrale prennent l’initiative de créer OPEN, un programme de type Pourquoi pas moi ? , label créé par l’ESSEC.
 Cette association lie alors trois lycées proches de l’École (Emmanuel Mounier, Montesquieu et Jean Jaurès), deux lycées dits « pivots » (Michelet et Lakanal)
 et l’École elle-même. </p>
<p>Les objectifs sont dès lors multiples : il s’agit d’ouvrir l’esprit des lycéens et de leur donner confiance en eux à travers des activités culturelles et 
des sorties d’ouverture culturelle ou scientifique. </p>
<p>La volonté de s’investir pour l’Égalité des Chances est née.</p>

<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Science et tutorat</h3>

<p>Premier programme labellisé Cordée de la Réussite, la cordée Édouard Michelin propose aux lycéens des activités scientifiques qui utilisent les 
mathématiques ou la physique pour leur transmettre l’intérêt des élèves ingénieurs pour ces domaines de manière ludique. Ils peuvent aussi participer à
 des sorties culturelles ou scientifiques. </p>
<p>Cette cordée établit un partenariat entre l’École, les trois lycées Henri Matisse à Montreuil, Charles Péguy à Bobigny et Charles Péguy à Paris et le 
lycée Sainte-Geneviève à Versailles.</p>

<h3 style="color:#ff6600;">Jamais deux sans trois</h3>

<p>À l’automne 2009, Centrale prend la tête d’un troisième programme : la cordée Le Moigne. Le lycée Chaptal occupe le milieu de la cordée et les lycées 
Vilgenis (Massy), Balzac et Turgot (Paris) en constituent les sources. Cette cordée propose à la fois des activités culturelles et des activités 
scientifiques.</p>
<p>En 2010, le lycée Jean Jaurès de Montreuil viendra aussi se greffer à la cordée Michelin.</p>


<h3 style="text-align:right; color:#ff66ff; margin-right:15px;">Informer</h3>

<p>La volonté d’aller encore plus loin dans l’investissement pour l’Égalité des Chances vient d’un constat simple : chez les enfants dont les parents ne
 travaillent pas dans le milieu, les métiers de l’ingénieur sont souvent mal connus. C’est alors qu’en septembre 2009 fut créé le Pôle Information, 
 organe indépendant allant présenter ponctuellement les métiers de l’ingénieur et les études pour y parvenir à des lycées de la région parisienne. </p>

<h3 style="color:#ff0000;">Réunir</h3>

<p>L’union fait la force : les étudiants de Centrale, créateurs de trois cordées et un pôle, en sont parfaitement conscients. Une même bannière devait 
représenter les initiatives centraliennes pour l’égalité des chances : Centrale Égalité des Chances naît en 2009. </p>

<h3 style="text-align:right; color:#0942d4; margin-right:15px;">S’organiser, se diversifier</h3>

<p>Une bonne nouvelle n’arrive jamais seule ! Une nouvelle structure est mise en place en 2010 et les secteurs activités culturelles, activités 
scientifiques, sorties et communication sont créés à la suite de l’unification. Le Pôle Information est associé au secteur communication. En parallèle, 
le Pôle Projets est créé et parraine les projets d’étudiants de première ou deuxième année ayant trait à l’Égalité des Chances. 
Une quatrième cordée, Pasteur, est aussi en construction, en partenariat avec Supélec.</p>

<h3 style="color:#09d41c;">Aller encore plus loin</h3>

<p>Dans le souci d’améliorer encore l’apport pour les lycéens,  CEC a choisi d’intensifier le rythme des sorties et de les diversifier en 2011.
 Des partenariats avec les entreprises sont aussi en construction afin de proposer aux élèves des visites et de leur faire découvrir le milieu professionnel
 de l’intérieur. </p>
<p>En 2011, l’association centralienne CEC est en voie de devenir une association loi 1901 afin de pouvoir encore embellir son action.</p>

<h3 style="text-align:right; color:#bd208b; margin-right:15px;">CeC aujourd'hui</h3>

<p>Début Février 2012, CeC marque un tournant dans son histoire en devenant loi 1901. Dans la foulée, de nombreuses modifications ont lieu, et CeC continue 
de gagner en importance. </p>
<p>Le pôle projet ne fait plus que parrainer, mais prend en charge de nombreux projets, qui font dorénavant partie intégrante de CeC. Au total,
 4 projets d'importance : <br />
- Focus Europe : Oranisation d'un voyage de quelques jours dans une capitale européenne <br />
- Good Morning London : Organisation d'un voyage linguistique de 10 jours dans la capitale britannique<br />
- Stage Théâtre<br />
- Stage Centrale Prépa : Pour préparer les lycéens à l'entrée en classe préparatoire, afin que la transition entre le lycée et les classes prépa se 
fasse en douceur</p>
<p> Autres modifications : Le secteur communication devient secteur évenement, et prend en charge l'organisation de trois évenements majeurs de CeC
 (Conférence de rentrée, Journée des Cordées et Journée de Clôture). Un nouveau secteur est créé, le secteur Fundraising, dont le but est de trouver des 
 partenaires pour nous aider
 à financer les différents projets; </p>

</section>

{%endblock%}