{%extends "CECExternSiteBundle::base.html.twig" %}

{% block title %} {{parent()}} - La structure de CEC{%endblock %}

{% block page %}
 <section id="imagestructure" ></section>
 

 <section class="titrepage" id="titrestructure" >
 </section>
 
 <section class="contenupage">
<h2>Huit secteurs</h2>

Les membres de l’association effectuent évidemment du tutorat, mais pas seulement. Ils se partagent dans cinq secteurs qui préparent l’ensemble 
des activités de CEC.

<h3 style="color:#3399cc;">Activités culturelles</h3>

Puisant dans l’actualité, sa culture personnelle, des activités déjà effectuées, une équipe s’engage à produire la matière première qui assure 
le bon déroulement de chaque séance.

<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Activités scientifiques</h3>

Quel élève ingénieur aurait pensé se replonger dans ses cours de première après la prépa ? 
C’est ce que chaque membre de ce secteur effectue lorsqu’il prépare une activité en s’appuyant sur le programme des lycéens et s’efforçant d’expliquer 
des phénomènes de la vie courante.

<h3 style="color:#ff6600;">Sorties</h3>

Choisir un lieu, contacter les responsables, planifier une date, définir un contenu et prévenir les lycéens. Chacune de ces étapes est assurée par
 l’équipe du secteur sorties.

<h3 style="text-align:right; color:#ff66ff; margin-right:15px;">Evénement & Communication</h3>

Le secteur Evénement & Communication s'occupe de plusieurs choses différentes, et cette diversité en fait un des atoutes de ce secteur. <br />
Il organise tout d'abord des événements, que ce soit pour les centraliens (conférence de rentrée), pour les lycéens (Journée des Cordées et Journée de Clôture)
 ou encore pour les membres de l'association (Week-end de Cohésion).
<br />
Mais il s'occupe aussi de faire un peu de communication, que ce soit par des affiches, par des plaquettes (entreprises ou plaquette alpha remise aux 
admissibles), ou encore par les réseaux sociaux ou le site CeC. Le pôle information et le webmaster sont aussi associés à ce secteur.

<h3 style="color:#960c54;">Fundraising</h3>

Ce secteur, nouvellement fondé, à pour objectif de trouver des fonds privés pour financer les projets de CeC. 

<h3 style="color:#960c54;">Saclay</h3>

Ce secteur s'occupe de préparer la transition du déplacement sur le plateau de Saclay, en contactant les instances décisionnelles sur place, les autres
associations étudiantes...

<h3 style="color:#960c54;">Geek</h3>

Ce secteur s'occupe de tout ce qui touche à l'informatique à CEC : mise à jour des sites internet, maintenance...

<h3 style="color:#960c54;">Europen</h3>

Ce secteur met en place des correspondances epistolaires entre des lycéens de nos cordées avec des lycéens d'autres pays européens, notamment l'Espagne 
et l'Allemagne.


<h2 style="margin-top:14px;">Un pôle projets</h2>

Le pôle projet s'occupe de gérer les 4 projets organisés par CeC. Chacun des projets dispose d'une organisation indépendante, mais certaines synergie existent,
 notamment en ce qui concerne le recrutement.

<h3 style="color:#3399cc;">Focus Europe</h3>

Focus Europe organise tous les ans un voyage de 3-4 jours en Europe pour près de 60 lycéens. L'objectif est de leur faire découvrir un autre pays où ils
 n'ont pas forcément eu l'occasion d'aller, une autre langue, une autre culture etc.
<br />
L'an dernier, le voyage a eu lieu à Berlin, et l'année d'avant, c'était à Prague.

<h3 style="text-align:right; color:#00cc00; margin-right:15px;">Goog Morning London</h3>

Good Morning London (GML) est un stage linguistique d'une dizaine de jours en plein coeur de la capitale britannique, et à moindre frais. L'objectif est de
 faire découvir aux lycéens un peu de culture anglaise, mais surtout de faire en sorte qu'ils s'améliorent en anglais.
Ce stage s'inscrit ainsi autour d'une thématique. Cette année, c'est le journalisme.

<h3 style="color:#ff6600;">Centrale Prépa</h3>

Certains lycéens, motivés par les études, vont se lancer en classe préparatoires après le lycée. La prépa est souvent entourée de plein de mystères, sur
 l'ambiance entre les élèves, sur la quantité de travail etc.
<br /> Ce stage a pour but de les préparer à leur entrée en CPGE, pour qu'ils effectuent leur rentrée sereinement, et avec certaines méthodes de travail
 qui permettront une transition plus facile entre le lycée et la prépa.

<h3 style="text-align:right; color:#ff66ff; margin-right:15px;">Stage Théâtre</h3>

Afin de développer l'aisance à l'oral des lycéens, de leur faire découvrir le monde du théâtre en compagnie de professionnels, des membres de CeC ont
 organisé un stage théâtre.
La première édition, lancée en 2012 a été un succès auprès des lycéens, et ce projet a donc été repris par le pôle projet qui va ainsi assurer sa continuité.

</section>
 </section>

 {%endblock %}