td.muted {
    text-align: center;
    h4 {
         text-shadow: 0 2px 0 #ffffff;
    }
}

#apercu-cr-message-container td.muted { padding: 250px 20px; }
#resultats-message-container td.muted { padding: 160px 10px; }

td.td-non-lu {
    vertical-align: middle;
    text-align: right;
    border-right: 0;
    padding: 0;
    font-size: 35px;
    color: #9d9df1;
    width: 28px;
}

.td-non-lu + td {
    border-left: 0;
}

tr[onclick] {
    cursor: pointer;
}

.table-results {
    thead {
        th {
            background-color: #f9f9f9;
            select {
                height: 22px;
                width: 150px;
                margin-bottom: 0;
            }
        }
    }
}

#resultats-contenu {
    display: block;
    max-height: 380px;
    overflow-y: scroll;
}

td.note {
    width: 33%;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    
    .note-chiffre {
        font-size: 160%;
    }
    .note-description {
        margin-top: 5px;
        font-size: 80%;
        line-height: 13px;
    }
}

td.auteur {
    text-align: right;
    padding: 2px 15px;
    * {
        color: silver;
    }
    a:hover {
        color: grey;
    } 
}
