td.muted {
    text-align: center;
    h4 {
         text-shadow: 0 2px 0 #ffffff;
    }
}

#apercu-cr-message-container td.muted { padding: 250px 20px; }
#resultats-message-container td.muted { padding: 160px 10px; }

td.td-non-lu {
    vertical-align: middle;
    text-align: center;
    border-right: 0;
    padding: 0;
    font-size: 35px;
    color: #9d9df1;
}

.td-non-lu + td {
    border-left: 0;
    padding-left: 2px;
}
.td-non-lu:empty + td {
    padding: 8px;
}

tr[onclick] {
    cursor: pointer;
}

.table-results {
    thead {
        th {
            background-color: #f9f9f9;
            select {
                height: 22px;
                width: 150px;
                margin-bottom: 0;
            }
        }
    }
}
