{% extends 'CECTutoratBundle:Cordees:base.html.twig' %}


{% block right %}

{{ parent() }}

<h2> Créer un nouveau lycée </h2>

<form class="form" method="post" action="{{ path('creer_lycee') }}">
    {{ form_widget(form) }}
    <div class="footer-controls">
        <input type="submit" value="Créer le lycée" class="btn btn-primary pull-right" />
        <a href="{{ path('tous_lycees') }}" class="btn btn-default pull-right">Annuler</a>
    </div>
</form>
<br/>

{% endblock %}
