<html xmlns="http://www.w3.org/1999/html">

<body>
<p>Bonjour,</p>

<p>Comme vous le savez sûrement, votre enfant, {{ eleve }}, s'est inscrit pour participer au programme de Centrale Égalité des Chances.</p>
<p>Centrale Égalité des Chances est une association étudiante de l'École Centrale Paris et nous proposons à de nombreux lycéens de la région parisienne de les accompagner vers les études supérieurs à travers un système de tutorat.</p>
<p>En plus des séances du tutorat, nous proposons en parallèle divers activités comme des sorties, des stages ou des voyages afin d'enrichir au maximum leur ouverture culturelle.</p> <br/>

<p>Pour connaître plus précisemment ce que fait et peut faire votre enfant grace à Centrale Égalité des Chances, vous pouvez, si vous le souhaitez, vous inscrire sur le <a href="{{ path('cec_externe_accueil') }}">site de l'association</a>. </p>

<p>Pour plus d'informations, vous pouvez aussi :</p>
<li>
    <ul>Suivre notre page Facebook : <a href="https://www.facebook.com/CEC.CentraleEgaliteDesChances/">https://www.facebook.com/CEC.CentraleEgaliteDesChances/</a></ul>
    <ul>Suivre notre compte Twitter : <a href="https://twitter.com/CEC_ecp">https://twitter.com/CEC_ecp</a></ul>
    <ul>Nous contacter directement : <a href="mailto:contact@cec-ecp.com">contact@cec-ecp.com</a> </ul>
</li>

<p>Bien cordialement,</p>

<p class="pull-right">Toute l'équipe de CEC</p>
</body>
</html>
