.well {
  padding: 10px 0 8px;
  margin-bottom: 8px;
}
.well .tous_lycees {
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
}
.well.form-inline {
  padding: 10px;
  margin-bottom: 20px;
}
.well.form-inline .input-nom {
  width: 520px;
}
.well.form-inline .btn-changer-nom {
  width: 134px;
}
.table {
  margin-bottom: 10px;
}
td p {
  margin-bottom: 0;
}
td .label {
  margin-top: 7px;
  padding: 6px 10px;
}
td .label:hover {
  background-color: #006091;
}
td .label:active {
  background-color: #004a71;
}
th p {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: normal;
}
.btn-desactiver-cordee {
  margin-top: 20px;
  font-size: 16px;
  padding: 7px;
}
