.table .titre {
  background-color: #f9f9f9;
  text-align: center;
}
.table .titre h3 {
  line-height: normal;
}
.table form {
  margin-bottom: 0;
}
.table form input[type="submit"] {
  margin-top: 20px;
}
.btn-block {
  margin-bottom: 20px;
}
