.btn-block {
  margin-top: 10px;
}
.planning {
  margin-bottom: 15px;
}
#seance_debut_control_group,
#seance_fin_control_group {
  display: inline-block;
}
#seance_debut_control_group .controls input,
#seance_fin_control_group .controls input {
  width: 225px;
}
#seance_fin_control_group {
  margin-left: 25px;
}
