.count {
  display: inline-block;
  color: silver;
  float: right;
}
.table .edition {
  background: url(/bundles/cecmain/images/stripes.png) repeat-x 0 top red;
  height: 20px;
  border-left: 1px solid #dddddd;
}
.table .titre-edition {
  border-bottom: 0;
  color: maroon;
}
.table .btn-block {
  margin-bottom: 0;
}
.table .form {
  margin-bottom: 0;
}
.table .form select[multiple] {
  height: 200px;
}
.table th p {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: normal;
}
.table td.note {
  width: 33%;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
.table td.note input {
  max-width: 100%;
}
.table td.note .note-input {
  width: 40px;
}
.table td.note label {
  font-weight: bold;
}
.table td.note p.help-inline {
  margin-bottom: 0;
  font-size: 80%;
  line-height: 13px;
}
.table td.note .control-group {
  margin-bottom: 0;
}
.table td .checkmark {
  float: right;
  font-size: 140%;
}
.table .success .checkmark {
  color: #5da043;
}
.table .success a:hover {
  color: #29461d;
}
.table .warning .checkmark {
  color: #c6b14d;
}
.table .warning a:hover {
  color: #706324;
}
.close-red,
.close-red:hover {
  color: red;
}
.input-ajouter {
  width: 280px;
}
#seance_debut_control_group,
#seance_fin_control_group {
  display: inline-block;
}
#seance_debut_control_group .controls input,
#seance_fin_control_group .controls input {
  width: 225px;
}
#seance_fin_control_group {
  margin-left: 25px;
}
.btn-block {
  margin-bottom: 10px;
}
.table-large .reduced-padding {
  padding: 5px;
  padding-bottom: 0;
}
.table-large .reduced-padding .alert {
  padding: 10px;
  margin-bottom: 5px;
}
.table-centered td {
  text-align: center;
}
.table-centered .date {
  font-weight: bold;
  font-size: 180%;
  padding: 30px 20px;
}
.table-centered .date .jour {
  font-size: 400%;
  line-height: 110px;
}
.table-centered .date .mois {
  font-size: 150%;
  line-height: 30px;
}
.table-centered .td-label {
  font-weight: bold;
  font-size: 110%;
}
.table-centered .td-content {
  font-weight: bold;
  font-size: 135%;
  padding: 12px;
}
