<div class="well">
    <ul class="nav nav-pills nav-stacked">
        <li
            {% if request.attributes.get('_route') == 'sorties_professeur' %}
                class="active"
            {% endif %}
            >
                <a href="{{ path('sorties_professeur') }}" class="sorties">Sorties à venir</a>
        </li>

        <li
            {% if request.attributes.get('_route') == 'anciennes_sorties_professeur' %}
                class="active"
            {% endif %}
            >
                <a href="{{ path('anciennes_sorties_professeur') }}">Sorties passées</a>
        </li>
    </ul>
</div>

