{% extends 'CECMainBundle::narrow.html.twig' %}


{% block narrow_title %}Membres{% endblock %}

{% block narrow_body %}

{{ parent() }}

<table class="table table-bordered table-hover table-striped">
    {% if membres|length > 0 %}
        <tbody>
            {% for membre in membres %}
            <tr>
                <td>
                    <a href="{{ path('cec_membre_membres_voir', { 'membre': membre.id }) }}">
                        {{ membre.prenom|capitalize }} {{ membre.nom|capitalize }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    {% else %}
        <thead><tr><th class="muted"><h4>Aucun membre dans la base de donnée !</h4></th></tr></thead>
    {% endif %}
</table>

{% endblock %}
