<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{path('cec_externe_accueil')}}" style="padding-top:0; padding-bottom:0;">
            <img alt="Logo CEC" src="{{asset('bundles/cecmain/images/logorond.png')}}" style="max-height:50px;"/>

          </a>

        </div>
    </div>
</div>
