<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ path('cec_externe_accueil') }}" class="brand">CEC</a>

      
        </div>
    </div>
</div>
