<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('cec_externe_accueil') }}" class="navbar-brand">CEC</a>

        </div>
    </div>
</div>
