{% extends 'CECMainBundle::2-columns.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECMembreBundle/Resources/public/less/profil_afficher.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block left %}
    <p>Coucou</p>
    <a href="#" class="btn btn-primary">Modifier</a>
{% endblock %}

{% block right %}
    <h2>{{ membre.prenom }} {{ membre.nom }}</h2>
    <h4>Promotion 2012</h4>
{% endblock %}

