.table {

    td.legend {
        font-weight: bold;
        text-align: right;
    }
 
    th, td[colspan] {
        text-align: center;
        
        h3 { line-height: normal; }
        h4 { margin: 5px; }
    }
    
    .section {
        border-top-width: 2px;
        background-color: #f2f1f1;
    }
    .titre {
        background-color: #f2f1f1;
    }
    .image {
        padding: 0;
        background-color: white;
    }
}

.well {
    padding: 0;
}
