.count {
    display: inline-block;
    color: silver;
    float: right;
}

.count-success {
    color: #4f7e4f;
}

.table {
    .edition {
        background: url(/bundles/cecmain/images/stripes.png) repeat-x 0 top red;
        height: 20px;
        border-left: 1px solid #dddddd;
    }
    .titre-edition {
        border-bottom: 0;
        color: maroon;
    }
    .btn-block {
        margin-bottom: 0;
        margin-top: 25px;
    }
    .form {
        margin-bottom: 0;
        select[multiple] {
            height: 200px;
        }
    }
}

.close-red, .close-red:hover { color: red; }

.input-ajouter { width: 280px; }


// .table-centered
.table-centered {
    td {
        text-align: center;
    }
    .date {
        font-weight: bold;
        font-size: 180%;
        padding: 20px;
        .jour {
            font-size: 400%;
            line-height: 110px;
        }
        .mois {
            font-size: 150%;
            line-height: 30px;
        }
    }
    .td-label {
        font-weight: bold;
        font-size: 110%;
    }
    .td-content {
        font-weight: bold;
        font-size: 135%;
        padding: 12px;
    }
}
