{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}


{% extends 'CECMainBundle::base.html.twig' %}

{% block container %}
	{{parent()}}
    <div class="row">
        <div class="col-md-3">{% block left %}{% endblock %}</div>
        <div class="col-md-9"><div class="well"style="padding:20px;">{% block right %}{{ session_flash() }}{% endblock %}</div></div>
    </div>
{% endblock %}
