{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}


{% extends 'CECMainBundle::base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="span5">{% block left %}{% endblock %}</div>
        <div class="span7"><div class="well" style="padding:20px;">{% block right %}{{ session_flash() }}{% endblock %}</div></div>
    </div>
{% endblock %}
