{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}


{% extends 'MopaBootstrapBundle::base.html.twig' %}
{% set jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
{% set mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CECMainBundle/Resources/public/less/bootstrap-override.less'
        '@CECMainBundle/Resources/public/less/menu.less'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% block modals %}{% endblock %}
    {% block menu %}
        {% include 'CECMainBundle:Menu:menu.html.twig' with { 'route' : 'ee' } %}
    {% endblock %}
    
    <div class="container">
        {% block container %}
            {{ session_flash() }}
        {% endblock %}
    </div>
{% endblock %}
